.main__heading1 {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  color: #006494;
  font-weight: 500;
  text-align: center;
}

.main {
  margin: 30px 50px;
  padding: 40px 30px;
}

.index {
  background-image: linear-gradient(to right, #13293d, #006494, #247ba0, #247ba0, #1b98e0, #f5f5f5);
}

.main_uvod {
  padding-top: 0;
  margin-top: 0;
}

.logo {
  width: 70px;
  height: auto;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  float: left;
}

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2eeee;
}

.menu__item {
  border-bottom: 1px solid #006494;
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #006494;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.menu__link:hover {
  background-color: #1b98e0;
  color: white;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

@media screen and (min-width: 700px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    display: flex !important;
    background-color: #f2eeee;
  }
  .menu__item {
    border-bottom: 0;
  }
  .menu__link {
    display: block;
    padding: 10px 15px;
    color: #006494;
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    border-right: 1px solid #006494;
  }
}
/*-----------------------------------------------------------------------*/
/*INDEX PAGE*/
.heading1 {
  font-size: 52px;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  color: white;
  font-weight: 400;
  padding-top: 100px;
}

.heading2 {
  font-size: 24px;
  margin-bottom: 0;
  color: white;
  font-weight: 400;
  padding-bottom: 40px;
}

.index-content {
  margin-left: 100px;
}

.mistral-sinop {
  display: flex;
  justify-content: center;
}

.mistral-content {
  margin-right: 120px;
  margin-left: 30px;
  margin-bottom: 70px;
}

.mistral-content__heading,
.sinop-content__heading {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 300;
}

.mistral-content__heading2,
.sinop-content__heading2 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  font-weight: 500;
}

.mistral-content__logo,
.sinop-content__logo {
  width: 110px;
  height: auto;
  text-align: center;
  align-items: center;
  margin-left: 250px;
}

.sinop-content__logo {
  margin-left: 190px;
  width: 100px;
}

.mistral-content__products,
.sinop-content__products {
  text-align: center;
  font-weight: 600;
}

.mistral-content__products {
  padding-bottom: 20px;
}

.sinop-content__products {
  padding-bottom: 35px;
}

.button {
  color: #13293d;
  background-color: #f2eeee;
  font-weight: 400;
  padding: 15px 20px;
  margin-right: 20px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 80px;
  box-shadow: 0px 3px 3px -3px #247ba0;
}

@media screen and (max-width: 639px) {
  .mistral-sinop {
    display: flex;
    flex-direction: column;
  }
}
/*------------------------------------------*/
/*MISTRAL PAGE*/
.mistral__heading2 {
  text-align: center;
  font-weight: 400;
}

.img__mistral_historie {
  width: 600px;
  height: auto;
  float: right;
}

.icon {
  margin: 10px;
  height: 48px;
  width: auto;
}

.mistral__obsah {
  display: flex;
  padding: 80px 30px #f5f5f5;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0px 5px 5px -5px #f5f5f5;
  margin: 20px 0;
}

.obsah2 {
  flex-direction: row-reverse;
  margin-top: 30px;
}

.mistral__text {
  flex: 0 0 30%;
  margin-right: 40px;
  background-color: #f5f5f5;
  padding: 50px 30px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -3px #f5f5f5;
}

.img__mistral_historie2 {
  margin-right: 40px;
  margin-left: 200px;
}

.img__mistral_tovarna,
.img__mistral_budova,
.img__mistral_letiste {
  height: 300px;
  width: auto;
}

.img__mistral_budova {
  margin-right: 30px;
}

.mistral__text_map {
  width: 20%;
  background-color: #f5f5f5;
  padding: 20px 30px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -3px #f5f5f5;
}

.mistral__map {
  margin-bottom: 20px;
  align-items: right;
}

/*FAQ PAGE*/
.faq__heading3 {
  font-weight: 400px;
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  padding: 10px 5px;
  box-shadow: 0px 3px 3px -3px #f5f5f5;
}

/*ENQUIRY - QUESTIONS PAGE*/
form {
  width: 100%;
  max-width: 600px;
}

.form-field {
  margin-bottom: 30px;
}

.form-field input,
.form-field textarea,
.form-field number,
.form-field tel {
  width: 100%;
  border: 1px solid #006494;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 20px;
}

.form-field input[type=text]:focus,
.form-field input[type=number]:focus,
.form-field input[type=email]:focus,
.form-field input[type=tel]:focus,
.form-field textarea:focus {
  outline: 0;
  border: 2px solid #1b98e0;
  background-color: #edf3f7;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
  outline-color: #1b98e0;
}

.form-field label {
  display: block;
  font-size: 16px;
  color: #13293d;
}

.required {
  color: red;
}

.form-checkbox {
  margin-bottom: 10px;
}

.form-checkbox input,
.form-radio input {
  width: 15px;
  height: 15px;
}

.form-checkbox input:checked + label {
  color: #1b98e0;
  font-weight: bold;
}

.form-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #13293d;
}

.button-submit {
  background-color: #1b98e0;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 10px 25px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

.button-submit:hover {
  background-color: #247ba0;
}

@media screen and (min-width: 640px) {
  form {
    max-width: 300px;
  }
}
@media screen and (min-width: 1100px) {
  form {
    margin-left: 400px;
    max-width: 600px;
  }
  .enquiry {
    display: flex;
  }
  .form-field_half {
    flex: 0 0 50%;
  }
  .first {
    margin-right: 50px;
    margin-top: 10px;
  }
}
/*--------------------------------------------*/
/*CONTACT PAGE*/
@media screen and (max-width: 639px) {
  .contact {
    align-content: center;
  }
}
.footer {
  padding: 3px;
  background-color: #f2eeee;
  color: #006494;
  text-align: center;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */