@use 'colors';

html {
    box-sizing: border-box;
  }
  
  *,
  :after,
  :before {
    box-sizing: inherit;
  }
  
  body{
    font-family:'Nunito Sans', sans-serif;  
    font-size: 16px;
  }
  
  //nadpisy
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:'Raleway', sans-serif;
    line-height: 1.25;
    color: colors.$darker;
  }