@use 'colors';

@use 'stem';

// písmo


.main__heading1 {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  color: colors.$darker;
  font-weight: 500;
  text-align: center;
  

}

.main {
  margin: 30px 50px;
  padding: 40px 30px;
}

//MAIN SECTION WITH BIG BACKGROUND PICTURE

.index {
  background-image: linear-gradient(to right,
      colors.$dark,
      colors.$darker,
      colors.$middle,
      colors.$lighter,
      colors.$light,
      colors.$bluish );
}

.main_uvod {
  padding-top: 0;
  margin-top: 0;
}

//LOGO-HEADER

.logo {
  width: 70px;
  height: auto;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  float: left;
}

//HEADER
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

}

//MENU

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: colors.$beige;
}

.menu__item {
  border-bottom: 1px solid colors.$darker;
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: colors.$darker;
  font-family: 'Raleway', sans-serif;
  ;
  font-weight: 500;
}

.menu__link:hover {
  background-color: colors.$light;
  color: white;
}

.menu__checkbox:checked~.menu__list {
  display: block;
}

@media screen and (min-width: 640px) {
  .menu__toggler {
    display: none;
  }

  .menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    display: flex !important;
    background-color: colors.$beige;
  }

  .menu__item {
    border-bottom: 0;
  }

  .menu__link {
    display: block;
    padding: 10px 15px;
    color: colors.$darker;
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    border-right: 1px solid colors.$darker;
  }
}

/*-----------------------------------------------------------------------*/
/*INDEX PAGE*/
//HEADINGS
.heading1 {
  font-size: 52px;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  color: white;
  font-weight: 500;
  padding-top: 100px;
  text-shadow: 1px 1px white, 
               2px 2px white, 
               2px 2px white;
  
}



.heading2 {
  font-size: 24px;
  margin-bottom: 0;
  color: white;
  font-weight: 500;
  padding-bottom: 40px;
  
}

.index-content {
  margin-left: 100px;
}

//INDEX - MAIN SECTION
.mistral-sinop {
  display: flex;
  justify-content: center;
}

.mistral-content {
  margin-right: 120px;
  margin-left: 30px;
  margin-bottom: 70px;
}

.mistral-content__heading,
.sinop-content__heading {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 300;
  color: colors.$lighter;
}

.mistral-content__heading2,
.sinop-content__heading2 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  font-weight: 500;
}

.mistral-content__logo,
.sinop-content__logo {
  width: 110px;
  height: auto;
  text-align: center;
  align-items: center;
  margin-left: 250px;
}

.sinop-content__logo {
  margin-left: 190px;
  width: 100px;
}

.mistral-content__products,
.sinop-content__products {
  text-align: center;
  font-weight: 600;
}

.mistral-content__products {
  padding-bottom: 20px;
}

.sinop-content__products {
  padding-bottom: 35px;
}

.samba-content__buttons,
.mistral-cotent__buttons {
  display: flex;
  justify-content: center;
}

.button {
  color: colors.$dark;
  background-color: colors.$beige;
  font-weight: 400;
  padding: 15px 20px;
  margin-right: 20px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 80px;
  box-shadow: 0px 3px 3px -3px colors.$lighter;
}

@media screen and (max-width: 639px) {

  .mistral-sinop,
  .mistral-content__buttons,
  .sinop-content__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sinop-content__logo {
    margin-left: 0;
  }

  .mistral-content__logo {
    margin-left: 0;
  }

  .button {
    margin-right: 0;
    margin-bottom: 20px;

  }

}


/*------------------------------------------*/
/*MISTRAL PAGE*/

.mistral__heading2 {
  text-align: center;
  font-weight: 400;
}

.img__mistral_historie {
  width: 600px;
  height: auto;
  float: right;
}

.icon {
  margin: 10px;
  height: 48px;
  width: auto;
}

.mistral__obsah {
  display: flex;
  padding: 80px 30px;
  border: 2px solid colors.$bluish;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0px 5px 5px -5px colors.$bluish;
  margin: 20px 0;
}

.obsah2 {
  flex-direction: row-reverse;
  margin-top: 30px;
}

.mistral__text {
  flex: 0 0 30%;
  margin-right: 40px;
  background-color: colors.$bluish;
  padding: 50px 30px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -3px colors.$bluish;
}

.videostext{
  margin-right: 20px;
  margin-left: 20px;
}

.img__mistral_historie2 {
  margin-right: 40px;
  margin-left: 200px;
}

.img__mistral_tovarna,
.img__mistral_budova,
.img__mistral_letiste {
  height: 300px;
  width: auto;
}

.img__mistral_budova {
  margin-right: 30px;
}

.mistral__text_map {
  width: 20%;
  background-color: colors.$bluish;
  padding: 20px 30px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -3px colors.$bluish;
}

.mistral__map {
  margin-bottom: 20px;

}
/*---------------------------------------------------------------------------*/
/* PRODUKTY PAGE*/


.products__img{ 
  height:300px;
  width:auto;
}

.sloup{
  height:450px;
  width:auto;
}

@media screen and (max-width: 639px){
  .products{
    text-align: center;
  }
  
}

@media screen and (min-width: 640px){

  .products{
    text-align: center;
    align-items: center;
  }

 .firms__obsah{
  display:flex;
  justify-content:baseline;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  
 } 
 

} 



/*FAQ PAGE*/

.faq__heading3 {
  font-weight: 400;
  background-color: colors.$bluish;
  font-family: 'Raleway', sans-serif;
  padding: 10px 5px;
  box-shadow: 0px 3px 3px -3px colors.$bluish;
}

.margin{
 margin-bottom:30px;
 }


/*ENQUIRY - QUESTIONS PAGE*/

form {
  width: 100%;
  max-width: 400px;
}

.form-field {
  margin-bottom: 30px;
}

.form-field input,
.form-field textarea,
.form-field number,
.form-field tel {
  width: 100%;
  border: 1px solid colors.$darker;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 20px;
}

.form-field input[type="text"]:focus,
.form-field input[type="number"]:focus,
.form-field input[type="email"]:focus,
.form-field input[type="tel"]:focus,
.form-field textarea:focus {
  outline: 0;
  border: 2px solid colors.$light;
  background-color: #edf3f7;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline-color: colors.$light;
}

.form-field label {
  display: block;
  font-size: 16px;
  color: colors.$dark;
}


.required {
  color: red;
}

.form-checkbox {
  margin-bottom: 10px;
}

.form-checkbox input,
.form-radio input {
  width: 15px;
  height: 15px;
}

.form-checkbox input:checked+label {
  color: colors.$light;
  font-weight: bold;
}

.form-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: colors.$dark;
}

.button-submit {
  background-color: colors.$light;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 10px 25px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.button-submit:hover {
  background-color: colors.$middle;
}

.form-heading4 {
  color: colors.$darker;
  font-family: 'Raleway', sans-serif;
  ;
}

@media screen and (min-width: 1100px) {
  form {
    width:100%;
    max-width: 1100px;
  }

  .form-field_whole {
    display: flex;
    margin-left: 300px;

  }

  .form-field_half{
    flex: 0 0 50%;
  }

  .first{
    margin-right: 70px;
  }

}


/*REFERENCE PAGE*/


.reference {
  position: relative;
  background-color: colors.$beige;
  border: 1px solid var(--okraj);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.reference:hover {
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
  transform: translateY(-3px);
}

.reference__logo {
  height: 140px;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}

.reference__logo img {
  display: block;
  width: 130px;
  height: auto;
  margin: 0 auto;
}

.reference__details {
  padding: 30px 20px 20px 20px;
  text-align: center;
}


.reference__details--high {
  padding: 10px 20px 20px 20px;
  text-align: center;

}

.reference__details h5 {
  margin: 0 0 3px 0;
  font-size: 18px;
  color: colors.$middle;
}

.reference__details--high h5 {
  margin: 0 0 3px 0;
  font-size: 18px;
  color: colors.$middle;
}

.ref {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.reference__link{
  padding: 10px;
  font-size: 13px;
  text-align:center;
}

.reference__logo--small img{
  height: 120px;
  margin: 0 auto;
  display: block;
  padding-top: 30px;
}

.high{
  padding-top: 50px;
  }

.mid{
  padding-top:40px;
}

.low{
  padding-bottom:5px;
}

/*--------------------------------------------*/
/*CONTACT PAGE*/

@media screen and (max-width: 639px) {
  .contact {
    align-content: center;
    min-width: 600px;
  }
}




//FOOTER

.footer {
  padding: 3px;
  background-color: colors.$beige;
  color: colors.$darker;
  text-align: center;
  font-weight: bold;
}