html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

//barvy, písmo
$dark: #13293d;
$darker: #006494;
$middle: #247ba0;
$lighter: #247ba0;
$light: #1b98e0;
$bluish: #f5f5f5;
$beige: #f2eeee;
$font-base: "Nunito Sans", sans-serif;
$font-special: "Raleway", sans-serif;
$spacer: 30px;

//nadpisy

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-special;
  line-height: 1.25;
  color: $darker;
}

//MAIN SECTION WITH BIG BACKGROUND PICTURE

.index{
  background-image:url(images/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 350px;

}

//LOGO-HEADER

.logo {
  width: 70px;
  height: auto;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

//HEADER
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

}

//MENU
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: flex;
  background-color: $beige;
  float: left;
}

.menu__item {
  margin-left:30px;
  
}

.menu__link {
  display: block;
  padding: 10px 15px;
  color: $darker;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
  border-right: 1px solid $darker;
}


/*INDEX PAGE*/
//HEADINGS
.heading1 {
  font-size: 52px;
  font-family: $font-special;
  margin-top: 0;
  color: white;
  font-weight: 400;
  padding-top: 100px;
}

.heading2 {
  font-size: 24px;
  margin-bottom: 0;
  color: white;
  font-weight: 400;

}

.index-content{
  margin-left: 100px;
 
}

//INDEX - MAIN SECTION
.mistral-sinop {
  display: flex;
  justify-content: center;
}

.mistral-content {
  margin-right: 80px;
  margin-left: 30px;
}

.mistral-content__heading,
.sinop-content__heading {
  text-align: center;
  font-size: 24px;
  margin-top:30px;
  font-weight: 300;
}

.mistral-content__heading2,
.sinop-content__heading2 {
  text-align: center;
  font-size: 30px;
  margin-top:30px;
  font-weight: 500;
}


.mistral-content__logo,
.sinop-content__logo {
  width: 110px;
  height: auto;
  text-align: center;
  align-items: center;
  margin-left: 240px;
  
}

.sinop-content__logo{
  margin-left: 190px;
  width: 100px;
}

.mistral-content__products,
.sinop-content__products{
  text-align:center;
  font-weight: 600;
}

.mistral-content__products{
  margin-bottom: 20px;
}

.button{
  color:$dark;
  background-color: $beige;
  font-weight: 400;
  padding: 15px 20px;
  margin-right: 20px;
  border:0;
  border-radius: 5px;
  margin-bottom: 80px;
  box-shadow: 0px 3px 3px -3px $lighter; 

}
/*MISTRAL PAGE*/

.mistral__heading1{
  font-size: 52px;
  font-family: $font-special;
  color:$darker;
  font-weight: 400;
  text-align: center;
}

.mistral__heading2{
  text-align: center;
  font-weight: 400;
}

/*FAQ PAGE*/

.main{
margin: 0 50px;

}

.faq__heading1{
  font-size: 52px;
  font-family: $font-special;
  color:$darker;
  font-weight: 400;
  text-align: center;
  
}

.faq__heading3{
  font-weight: 400px;
  background-color: $bluish;
  font-family: $font-special;
  padding: 10px 5px;
}

/*CONTACT PAGE*/

.contact__heading1{
  font-size: 52px;
  font-family:$font-special;
  text-align: center;
  align-items: center;
  padding-top: 30px;
}




//FOOTER

.footer {
  padding: 3px;
  background-color: $beige;
  color: $darker;
  text-align: center;
  font-weight: bold;
}