$tmava: #13293D;
$tmavsi:#006494;
$stredni: #247BA0; 
$svetlejsi:#247BA0;
$svetla:#1B98E0;
$bezova:#F5F5F5;

//hlavni nadpis

h1{
    color: $tmavsi;
}

body{
    color:tmava;
    background-color: snow;
}