 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> H2O s.r.o. - Přístroje pro úpravu a výdej pitné vody</title>
	<link rel="favicon" class="favicon" type="logo/x-icon" href="/images/favicon.ico.svg">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Raleway:wght@400;600;800&display=swap" rel="stylesheet">


    <!-- Naše vlastní CSS -->
    <link rel="stylesheet" href="/css/style.css"/>
  </head>